# Optional feature flags
# ENABLE_LOGS_ALL=true          # enable verbose logging for all components
# ENABLE_LOGS_GRAFANA=true
# ENABLE_LOGS_LOKI=true
# ENABLE_LOGS_PROMETHEUS=true
# ENABLE_LOGS_TEMPO=true
# ENABLE_LOGS_PYROSCOPE=true
# ENABLE_LOGS_OTELCOL=true

# Customize backend retention / extra CLI args
PROMETHEUS_EXTRA_ARGS=--storage.tsdb.retention.time=14d
LOKI_EXTRA_ARGS=-compactor.retention-enabled=true -compactor.delete-request-store=filesystem -store.retention=336h
# ENABLE_LOGS_LOKI=true
